.principal {
    background: color #c075d3;
}
    
h1 {
    text-align: center;
}
    
 p {
    text-align: center;
 }

 #missao {
    color:red;
 }


 #banner {
    width: 100%;
 }

.beneficios-titulo {
    text-align: center;
}

.itens {
   font-style: italic;
}

.beneficios {
   background: #white;
}

ul {
   display: inline-block;
   width: 20%;
   vertical-align: top;
   margin-right: 15%;
}

.beneficios-imagem {
   width: 50%
}

.titulo {
   padding-left: 20px;
}